{% extends 'base.html.twig' %}

{% block body %}


  <table class="table table-borderless table-responsive text-center">
    <tr><th colspan="2"><h3>Zmień hasło:</h3></th></tr>
  {{ form_start(form) }}

    <tr><td>Nowe hasło:</td><td>{{ form_row(form.password) }}</td></tr>
    <tr><td colspan="2">{{ form_row(form.Zapisz) }}</td></tr>

    {{ form_end(form) }}


  </table>
{% endblock %}