{% extends 'base.html.twig' %}
{% block body %}

    <h3 class="text-info font-weight-normal">Odzyskaj konto</h3>
    <table class="table-responsive text-center table-borderless">
        <tr><td colspan="2">Podaj adres konta, do którego zapomiałeś hasła:</td></tr>
        <tr>
            <td>Email:</td>
            <td>
                {{ form_start(form) }}
                     {{ form_row(form.email) }}

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" class="btn btn-success">
            </td>
        </tr>
        {{ form_end(form) }}
    </table>
{%endblock %}